{% extends "base.html" %}

{% block title %}Digite a Nova Senha{% endblock %}

{% block content %}
    {% if validlink %}
        <h2>Defina sua nova senha</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="btn btn-success">Alterar Senha</button>
        </form>
    {% else %}
        <div class="alert alert-danger">
            <h2>Link Inválido</h2>
            <p>O link de redefinição de senha é inválido, provavelmente porque já foi usado. Por favor, <a href="{% url 'password_reset' %}" class="alert-link">solicite uma nova redefinição</a>.</p>
        </div>
    {% endif %}
{% endblock %}