{% extends "base.html" %}

{% block title %}Redefinir Senha{% endblock %}

{% block content %}
    <h2>Esqueceu sua senha?</h2>
    <p>Digite seu endereço de e-mail abaixo e nós enviaremos instruções para criar uma nova senha.</p>
    <form method="post">
        {% csrf_token %}
        <div class="mb-3">
            {{ form.email.label_tag }}
            <input type="email" name="email" class="form-control" required id="id_email">
        </div>
        <button type="submit" class="btn btn-primary">Redefinir Senha</button>
    </form>
{% endblock %}